.one-btns {
    font-size: 1.5em !important;
    font-family: sans-serif, Roboto !important;
    background: #7524F9 !important;
    color: #fff !important;
    border-radius: 9px;
    margin-left: 1.5em !important;
    margin-right: 5em !important;
    width: 50%;
    padding: .5em .5em .5em .5em;
    text-align: center;
}
.one-btn button .button-m .oncDownLoad {
    color: #fff !important;
}
.btn-link {
    color: #fff;
}